body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 10px;
}

.right {
  position: relative;
  margin: 10px 0px;
  width: 75vw;
  border-radius: 3px;
  min-height: 520px;
}

/* Left Section */

/* Home-box  */

.left .close {
  display: none;
}
.home-box {
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
}

.logo img {
  width: 80px;
  padding: 6px 0;
}

.home-box ul li img {
  width: 14px;
}

.home-box ul li {
  gap: 12px;
  padding: 3px 0;
  list-style: none;
  width: 18px;
  font-size: 12px;
  font-weight: 600;
}

/* Library Section */
.library {
  margin: 5px;
  padding: 10px;
}

.songList {
  min-height: 300px;
}

/* heading */

.heading {
  gap: 15px;
  font-size: 13px;
  font-weight: bold;
  padding: 16px 8px;
}
.heading img {
  width: 24px;
}
.heading h2 {
  font-size: 16px;
}

/* Song Cards / Song List */

.songList ul {
  height: 440px;
}
.songList ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 10px 0;
  list-style-type: decimal;
  font-size: 9px;
  border: 1px solid rgba(241, 220, 127, 0.795);
  border-radius: 5px;
  cursor: pointer;
}
.songList ul li .info {
  width: 150px;
}
.info div {
  margin-top: 4px;
}
/* Footer Section */

.footer span {
  font-size: 8px;
  font-weight: 300;
  margin: 0 4px;
  color: rgb(184, 179, 157);
  text-decoration: underline;
}
/* Right Section */

/* Header/Top Section */

.header {
  background: #222222;
  padding: 10px;
  height: 8vh;
}

.arrows {
  gap: 10px;
}
.arrows img {
  width: 10px;
}

.hamburgerContainer {
  display: none;
}

.hamburgerContainer img {
  width: 25px;
}

.svg {
  width: 22px;
  height: 22px;
  background-color: rgb(15, 15, 15);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#signUp {
  margin-right: 10px;
  background: transparent;
  box-shadow: none;
  border: none;
  color: rgb(156, 148, 148);
  font-size: 12px;
  font-weight: 600;
}

#login {
  background-color: #fff;
  color: black;
  padding: 8px 14px;
  border-radius: 30px;
  border: none;
  box-shadow: none;
}

/* Playlist/Album section */

.playlist {
  padding: 20px;
}

.playlist h1 {
  font-size: 24px;
  padding: 16px;
  font-weight: 600;
}

.card-container {
  margin: 30px;
  display: flex;
  gap: 10px;
  overflow-y: auto;
}

.card {
  width: 200px;
  padding: 10px;
  background-color: #252525;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  transition: all 0.75s ease-in;
}

.card img {
  width: 100%;
}

.play {
  width: 28px;
  height: 28px;
  padding: 4px;
  background-color: #00ff00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 155px;
  right: 17px;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.card:hover .play {
  opacity: 1;
}

.card:hover {
  background-color: #8f8f8f;
}
.play img {
  width: 75%;
  height: auto;
  fill: #000000;
}

/* PlayBar */

.playBar {
  padding: 12px;
  width: 72vw;
  position: fixed;
  bottom: 40px;
  background-color: #222823;
  border-radius: 10px;
}

.above-bar {
  margin: 10px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.song-info {
  width: 25%;
  font-size: 12px;
  color: #fcf7f8;
}
.playBar .buttons {
  gap: 10px;
  margin-left: 90px;
}

.playBar .buttons img {
  cursor: pointer;
}

.above-bar .time-vol .song-time {
  font-size: 10px;
  color: #fcf7f8;
}

.above-bar .time-vol {
  gap: 1rem;
  width: 35%;
}

.above-bar .time-vol img {
  cursor: pointer;
}

.volume {
  gap: 1rem;
}

.seek-bar {
  width: 90%;
  height: 4px;
  position: absolute;
  bottom: 8px;
  cursor: pointer;
  background: #fff;
  border-radius: 10px;
}

.seek-bar .circle {
  width: 13px;
  height: 13px;
  border-radius: 13px;
  background-color: #000000;
  position: relative;
  bottom: 6px;
  left: 0;
  cursor: pointer;
  transition: left 0.5 ease-out;
}

.circle:active {
  scale: 1.1;
}

/* Responsiveness */

@media screen and (max-width: 1000px) {
  .left {
    position: absolute;
    left: -150%;
    transition: all 0.3s;
    z-index: 1;
    width: 250px;
    background-color: black;
    padding: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: scroll;
  }
  .right {
    width: 100vw;
    margin: 0;
  }
  .playBar {
    padding: 8px 0;
    width: 95vw;
  }
  .hamburgerContainer {
    display: block;
  }
  .left .close {
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 40px;
    z-index: 2;
  }
  .playlist {
    padding: 0;
  }

  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin: 0;
  }
  .card {
    width: 70vw;
    text-align: center;
  }
  .card2{
    margin-bottom: 220px;
  }
  .play {
    display: none;
  }
  .playBar {
    width: 90vw;
    padding: 6px 0;
    right: 5%;
  }

  .above-bar {
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin: 8px 0;
  }
  .song-info,
  .time-vol {
    width: 100%;
    font-size: 12px;
    text-align: center;
  }
  .above-bar .time-vol {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .above-bar .time-vol .song-time {
    font-size: 10px;
  }
  .buttons {
    margin: 10px 0 6px 0;
  }

  .above-bar .buttons,
  .time-vol,
  .song-info {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}
