body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 10px;
}

.right{
    position: relative;
    margin: 10px 0px;
    width: 75vw;
    border-radius: 3px;
    min-height: 100vh;
}

                                    /* Left Section */

                                    /* Home-box  */

.home-box{
    border-radius: 8px;
    padding: 10px
}

.logo img {
    width: 80px;
    padding: 6px 0;
}

.home-box ul li img{
    width: 14px;
}

.home-box ul li{
    gap: 12px;
    padding: 3px 0;
    list-style: none;
    width: 18px;
    font-size: 12px;
    font-weight: 600;
}

                                    /* Library Section */
.library{
    margin: 5px;
    padding: 10px;
}

.songList{
    min-height: 300px;
}

                                    /* heading */

.heading{
    gap: 15px;
    font-size: 13px;
    font-weight: bold;
    padding: 16px 8px;
}
.heading img{
    width: 24px;
}
.heading h2{
    font-size: 16px;
}

                                    /* Song Cards / Song List */

.songList ul{
    height: 440px;
}
.songList ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin: 10px 0;
    list-style-type: decimal;
    font-size: 9px;
    border: 1px solid rgba(241, 220, 127, 0.795);
    border-radius: 5px;
}
.songList ul li .info{
    width: 150px;
}
.info div{
    margin-top: 4px;
}
                                /* Footer Section */

.footer span{
    font-size: 8px;
    font-weight: 300;
    margin: 0 4px;
    color: rgb(184, 179, 157);
    text-decoration: underline;
}
                                    /* Right Section */

                                    /* Header/Top Section */

.header{
    background: #222222;
    padding: 10px;
    height: 8vh;
}

.arrows{
    gap: 3px;
}
.arrows img{
    width: 10px;
}

.svg {
    width: 22px;
    height: 22px;
    background-color: rgb(15, 15, 15);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


#signUp{
    margin-right: 10px;
    background: transparent;
    box-shadow: none;
    border: none;
    color: rgb(156, 148, 148);
    font-size: 12px;
    font-weight: 600;
}

#login{
    background-color: #fff;
    color: black;
    padding: 8px 14px;
    border-radius: 30px;
    border: none;
    box-shadow: none;
}

                                /* Playlist/Album section */

.playlist{
    padding: 20px;
}

.playlist h1{
    font-size: 24px;
    padding: 16px;
    font-weight: 800;
}

.card-container{
    margin: 30px;
    display: flex;
    gap: 10px;
}

.card{
    width: 200px;
    padding: 10px;
    background-color: #252525;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    transition: all 0.75s ease-in;
}

.card img{
    width: 100%;
}

.play {
    width: 28px;
    height: 28px;
    padding: 4px;
    background-color: #00FF00; 
    border-radius: 50%; 
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 155px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.card:hover .play{
    opacity: 1;
}

.card:hover {
    background-color: #8f8f8f;
}
.play img {
    width: 75%;
    height: auto;
    fill: #000000;
}

                                        /* PlayBar */

.playBar{
    padding: 12px;
    width: 72vw;
    position: fixed;
    bottom: 40px;
    background-color: rgb(65, 189, 72);
    border-radius: 10px;
}

.above-bar{
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.playBar .buttons{
    gap: 10px;
    margin-left: 90px;
}

.playBar .buttons img{
    width: 35px;
    cursor: pointer;
}

.above-bar .time-vol .song-time{
    font-size: 14px;
}

.above-bar .time-vol{
    gap: .6rem;
}

.above-bar .time-vol img{
    width: 35px;
    cursor: pointer;
}

.above-bar .range input[type = range]{
    width: 100px;
    height: 6px;
    cursor: pointer;
}

.seek-bar{
    width: 90%;
    height: 4px;
    position: absolute;
    bottom: 8px;
    cursor: pointer;
    background: #fff;
}

.seek-bar .circle{
    width: 13px;
    height: 13px;
    border-radius:13px ;
    background-color: #000000;
    position: relative;
    bottom: 6px;
    left: 0;
    cursor: pointer;
    transition: left 1s ease-in;
}

.circle:active{
    scale: 1.1;
}
